<div class="text-center">
    <h1 class="display-3"><br />Data Fiscal  <sup>beta</sup></h1>
    <h2 class="display"> Aumentando a eficiência das operações fiscais.</h2>
    <br />
    <div class="">
        <boddy>
            <blockquote class="blockquote text-center">
                <p>
                    Uma das maiores preocupações de quem lida com entradas de notas fiscais de produto é o monitoramento das operações fiscais. São milhares de relacionamentos possíveis entre NCM, CFOP, CST e Alíquota, sem contar que muitas empresas e produtos possuem particularidades.
                    Desta forma, em parceria com a Brito & Associados Consultoria Fiscal e Tributária, lançamos a ferramenta Data Fiscal, que é o primeiro passo para um serviço único de análise de operações fiscais.
                </p>
                <p>
                    Nesta fase Beta pretendemos levantar diversas operações fiscais. Todas as empresas que fizerem parte desta fase terão o status de apoiador da nossa empresa, que além de nossa eterna gratidão terão desconto nos serviços que prestaremos de análise fiscal.
                </p>
                <br />
                <h5 class="text-center">Como Funciona?</h5>
                <p>
                    Inicialmente seremos uma plataforma totalmente colaborativa, onde você poderá fazer o upload de qualquer nota fiscal de produtos. A primeira vez que uma operação for lida, ela ficará na aba "Operações" e aguardará até que algum usuário classifique-a como Operação Válida ou Não Válida.
                    Periodicamente os parceiros da Brito & Associados verificaram se as operações estão ok.
                </p>
                <br />
                <h5 class="text-center">Próximos Passos</h5>
                <p>
                    Em breve lançaremos a plataforma 1.0, nesta você poderá se cadastrar e realizar uma verificação rápida das suas operações, gerar um relatório de todas elas, enviar para seu consultor para análises pontuais e particulares.

                </p>
                <p>
                    Na versão 2.0 pretendemos disponibilizar para empresas que queiram manter sua própria base de dados. será praticamente uma consultoria em tempo real, a disposição de todos que queriam verificar se usa nota fiscal está adequada.
                </p>
            </blockquote>
        </boddy>
    </div>
    <br />
    <div>
        <figure class="figure">
            <img class="figure-img img-fluid rounded"
                 alt="Parceiro"
                 src="~/Images/bea.jpg"
                 width="100"
                 height="50" />
            <figcaption class="figure-caption text-lg-center">Parceira: Brito & Associados</figcaption>
        </figure>
    </div>
</div>
